/* 
    Document   : default
    Created on : Oct 14, 2009, 1:47:23 PM
    Author     : jonathan.enzinna
    Description:
        Default LANRails style.
*/

#header {

}

#site_banner {

}

#main_nav {

}

#main {

}

#left_bar {
    
}

#main_body {

}