<h1>PrePay For The LAN</h1>
<div class="center">
  You are registered for <%= @party.name %> but have not prepaid the registration fee.<br/><br/>
  The registration fee for this party is $<%= @party.price %>. You can pre-pay your registration fee via PayPal.<br/><br/>
  <form action="https://www.paypal.com/us/cgi-bin/webscr" method="POST">
    <%= paypal_setup @reg.id, @party.price, Settings[:paypal_address], :item_name => "#{@party.name} Registration for #{User.current.username}", :notify_url => url_for(ipn_path) %>
    <%= submit_tag 'Pay Now', :class => 'btn' %>
  </form>
</div>