/*
    Document   : default
    Created on : Oct 14, 2009, 1:47:23 PM
    Author     : jonathan.enzinna
    Description:
        Default lan69 style.
*/

body {
    background: #a3919f url('../../images/lan69/background.jpg') top left repeat-x;
    margin: 0;
    padding: 0;
    color: white;
    font-family: Helvetica, Courier New, Courier, Arial;
    font-size: 12px;
}

h1, h2, h3, h4, h5, h6 {
    color: #74D4FF;
    margin: 0;
    padding: 0;
}

hr {
    border-top: 1px dashed white;
    border-bottom: none;
}

a {
    color: #74D4FF;
    text-decoration: underline;
}

table {
	border-width: 1px;
	border-spacing: ;
	border-style: inset;
	border-color: gray;
	border-collapse: collapse;
}
table th {
	border-width: 1px;
	padding: 1px;
	border-style: inset;
	border-color: gray;
	-moz-border-radius: ;
}
table td {
	border-width: 1px;
	padding: 1px;
	border-style: inset;
	border-color: gray;
        padding: 2px;
	-moz-border-radius: ;
}

#header {
    width: 756px;
    margin: auto;
}

#site_banner {
    height: 131px;
    background: transparent url('../../images/lan69/header.jpg') top center no-repeat;
}

#main_nav {
    height: 35px;
    padding-bottom: 5px;
    padding-top: 10px;
    background: transparent url('../../images/lan69/topnav.gif') left no-repeat;
    text-align: center;
}

#main_nav li {
    padding-left: 0px;
    padding-right: 20px;
    font-size: 21px;
    height: 45px;
    margin: 0;
}

#main_nav ul {
    margin: 0;
    padding: 0;
}

#main_nav li:last-child {
    padding-right: 0;
}

.inline_menu ul, .inline_menu li {
    display: inline;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.inline_menu li {
    padding-left: 24px;
}

.inline_menu li:first-child {
    padding-left: 0;
}

#main_nav a {
    text-decoration: none;
}

#main_nav a:hover {
    color: #DDF5FF;
    text-decoration: underline;
}

#main {
    width: 756px;
    margin: auto;
    background: #044a74;
}

#left_bar {
    width: 154px;
    height: 100%;
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 10px;
    border-right: 1px dashed white;
}

#main_body {
    width: 580px;
    margin: 8px;
}

#footer {
    width: 756px;
    padding-top: 14px;
    min-height: 66px;
    margin: auto;
    background: transparent url('../../images/lan69/footer.png') top center no-repeat;
    color: white;
    font-size: 10px;
}

#footer a {
    color: #8D8DFF;
    text-decoration: none;
}

.news_table {
    width: 75%;
    border: 0;
    margin-bottom: 20px;
}

.news_title {
    font-size: 18px;
    border-bottom: 1px solid white;
}

.news_footer {
    font-size: 9px;
}

.login_input {
    width: 96%;
}

.login_form {
    font-size: 12px;
    text-align: center;
}

.center {
    text-align: center;
}

p.notice,
p.sections
{
	background:#df9;
	padding:7px 15px;
	border:1px solid #bd7;
	margin-top:0;
	font-size:0.8em;
        color: black;
}

p.error
{
  background:#c00;
  color:white;
}

.forum_table {
    width: 85%;
    border: 0;
    margin: auto;
    padding-top: 14px;
    padding-bottom: 14px;
}

.forum_table .forum_desc {
    color: #CCCCCC;
    font-size: 9px;
}

.forum_table th {
    color: #74D4FF;
    padding: 1px;
    font-weight: bold;
    background: #030941;
}

.forum_table td {
    padding: 1px;
    vertical-align: top;
    background: #1A4D7F;
}

.forum_table tr {
    padding-bottom: 3px;
    border-bottom: 1px solid gray;
}

.thread_table {
    padding-top: 14px;
    padding-bottom: 14px;
    margin: auto;
    width: 85%;
}

.thread_table th {
    margin: 1px;
    font-weight: bold;
    background: #030941;
}

.thread_table td {
    background: #1A4D7F;
}

.thread_table .thread_author {
    color: #CCCCCC;
    font-size: 9px;
}

.post_table {
    margin: auto;
    width: 85%;
}

.post_table th {
    margin: 1px;
    font-weight: bold;
    background: #030941;
}

.post_table td {
    background: #1A4D7F;
}

.post_table hr {
    border-top: 1px solid white;
    border-bottom: none;
}

.post_table_userinfo {
    text-align: center;
    padding-top: 2px;
    width: 84px;
}

.post_table .posted_time {
    font-size: 8px;
}

.btn {
   background-color:#1785BA;
   border-style:solid;
   border-color:#000000;
   border-width:1px;
   color: #000000;
}

.btn:hover {
    background-color: #045387;
    border-style:dotted;
    border-color: #373037;
    color: #CCCCCC;
}

.tournament_info_box {
    width: 390px;
    margin-right: 10px;
}

.tournament_team_box {
    text-align: center;
    width: 180px;
    padding-top: 24px;
}

.team_info_box {
    width: 390px;
    margin-right: 10px;
}

.team_members_box {
    width: 180px;
    text-align: center;
}

.tournament_gamename {
    color: gray;
    font-style: italic;
    font-size: 10px;
}

.control_panel {
    margin: 20px 5px 0 5px;
    padding: 5px;
    border: thin black;
    background-color: #063669;
}