 <% @news.each do |n| %>
  <table class="news_table">
    <tr>
      <th class="news_title"><%= link_to n.title, news_url(n) %>
    </tr>
    <tr>
      <td class="news_body"><%= n.body %></td>
    </tr>
    <tr>
      <td class="news_footer">Posted at <%= n.created_at %> by <%= link_to n.user.username, profile_path(n.user) %></td>
    </tr>
  </table>
<% end %>
