<h1>Account#login_form</h1>
<% form_tag(login_path) do %>
	<b>Username:</b> <%= text_field nil, :username %><br />
	<b>Password:</b> <%= password_field nil, :password %><br />
	<%= submit_tag %>
<% end %>