<h1>Account Recovery</h1>
<% if request.post? %>
<p>An e-mail containing instructions for resetting your password has been sent to your e-mail.  Please check your e-mail and click on the link provided.</p>
<% else %>
<p>Your password has been reset successfully!  Please check your e-mail for your new password!</p>
<% end %>
