<h1>Thank you for registering!</h1>
<p>
  <% if (Settings[:require_newacct_activation] == 'true') then %>
  A confirmation e-mail has been sent to your e-mail address with instructions on how to activate your account for use.
  <% else %>
  You may now register for the party!
  <% end %>
</p>